@page "/"

<PageTitle>Index</PageTitle>

<h1>Error Server, Address: @Program.EndpointAddress</h1>
<button class="btn btn-primary" @onclick="() => Program.ErrorLog = string.Empty">Clear</button>
<label for="autoc">Auto Clear On Next Connection.</label>
<input name="autoc" checked type="checkbox" class="form-check-input" @onchange="(e) => { Program.AutoClear = (bool)e.Value;}" /> |
<span>Connection Status: @((MarkupString)Program.ConnectionStatusMarkup)</span>
<br/><hr/>
<p>
	@((MarkupString)Program.ErrorLog)
</p>

@code {
	protected override void OnAfterRender(bool firstRender)
	{
		Task.Delay(250);
		StateHasChanged();
	}
}